body{
    background-color: #111111;
}

h1{
    color:#FFFFFF;
    font-family: "consolas";
}

p{
    color:chartreuse;
    font-family: "consolas","san-serif";
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan dotted underline;
    font-size: 18px;
}